@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 40px 0 40px;
            grid-template-columns: repeat(2, 390px);
            column-gap: 100px;
        }
    }
    .skills {
        &__tech {
            grid-template-columns: repeat(3, 270px);
            gap: 30px;
            margin-top: 40px;
        }
        &__tech-perc {
            margin: 120px auto 0 auto;
            width: 870px;
            grid-template-columns: repeat(2, 337px);
            column-gap: 170px;
            justify-content: center;
            &-item {
                transform: translateX(6px);
            }
        }
        
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        padding-top: 120px;
        &__wrapper {
            padding: 0 35px;
            grid-template-columns: 400px 470px;
            column-gap: 20px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 30px 20px 0 20px;
            grid-template-columns: repeat(2, 305px);
            column-gap: 70px;
        }
    }
    .skills {
        &__tech {
            grid-template-columns: repeat(2, 270px);
            gap: 30px;
        }
        &__tech-perc {
            margin-top: 40px;
            width: 570px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .price__list {
        grid-template-columns: repeat(2, 345px);
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 300px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 30px 10px 0 10px;
            grid-template-columns: repeat(2, 245px);
            column-gap: 30px;
        }
        &__item {
            &:before {
                width: 10px;
            }
            &-head {
                padding-left: 60px;
            }
            &-icon {
                &:before {
                    left: -35px;
                }
                img {
                    left: -18px;
                }
            }
            &-body {
                padding-left: 20px;
            }
        }
    }
    .skills {
        padding-top: 40px;
        &__tech {
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(2, 260px);
            grid-auto-rows: 260px;
            gap: 20px;
        }
        &__tech-perc {
            width: 540px;
            row-gap: 48px;
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        &__list {
            grid-template: repeat(6, minmax(44px, auto)) / repeat(auto-fit, 100%);
            grid-auto-rows: minmax(44px, auto);
            row-gap: 20px;
            justify-content: center;
            padding-top: 40px;
        }
    }
    .contacts {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 250px;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
    
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .divider {
        margin-top: 0;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template: auto / 1fr;
            row-gap: 40px;
        }
        li:first-child &__item {
            &-head {
                padding-top: 45px;
            }
            
        }
        li:not(:first-child) &__item {
            &:before {
                top: 33px;
            }
            &-icon {
                &:before {
                    top: -35px;
                }
                img {
                    top: -19px;
                }
            }
        }
        &__item {
            &:before {
                width: 45px;
            }
            &-head {
                padding-top: 10px;
                padding-left: 100px;
            }
            &-icon {
                &:before {
                    left: 0;
                }
                img {
                    left: 17px;
                }
            }
            &-body {
                padding-left: 45px;
            }
        }
    }
    .skills {
        padding-top: 40px;
        &__tech {
            grid-template-columns: repeat(1, 270px);
            grid-template-rows: repeat(2, 270px);
            grid-auto-rows: 270px;
            gap: 20px;
        }
        &__tech-perc {
            width: 260px;
        }
    }
    .price {
        .divider {
            margin-top: 15px;
        }
    }
}